.Dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.DialogsItems {
    padding: 10px;
}
.DialogsItems .active{
    color: gold;
}

.Messages {
    padding: 10px;

}

.Messages .Message {
   
}